.svn
*.snp
energy*.dat
vv.dat
*.zip
*.gif
*.eps
*.png
*.jpg
message*.dat
node*
coord*
output
*.sta
*.cp
*.err
*.exe
*.dmp
*.bak
*.log
*.gz
#wmpi.clusterconf
wmpi.dll
wmpi_shmem.dll
wmpi*.lib
binding.h
mpi.h
mpi_errno.h
#*.pg
*/versions/*
*/*/versions/*
*/*/*/versions/*
old/History*
*.res
*.ddp
*.tds
*Visual*
*Debug*
*Release*
#*.dfm
*.lnk
*.obj
*.~c
*.~h
*.~bpr
*.out
*.rar
*.xls#
*.dll
*.ncb
